<h1>Template-Driven Forms</h1>

<app-explanation-iso-date-value-accessor></app-explanation-iso-date-value-accessor>

<div class="good">
  <h2>IsoDateValueAccessor</h2>

  <form>
    <label>Version:</label>
    <input type="text" name="version" [(ngModel)]="demoIsoDateValue.version">

    <label>Release date:</label>
    <input type="date" name="releaseDate" [(ngModel)]="demoIsoDateValue.releaseDate" [disabled]="demoIsoDateValueDisabled" useValueAsIso>
  </form>

  <button (click)="demoIsoDateValueDisabled = !demoIsoDateValueDisabled">Toggle disabled state</button>

<pre>
&lt;input type=&quot;text&quot;
       name=&quot;version&quot;
       [(ngModel)]=&quot;demoIsoDateValue.version&quot;&gt;

&lt;input type=&quot;date&quot;
       name=&quot;releaseDate&quot;
       [(ngModel)]=&quot;demoIsoDateValue.releaseDate&quot;
       <b>useValueAsIso</b>&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoDateValue | json }}
typeof(releaseDate): {{ typeof(demoIsoDateValue.releaseDate) }}
</pre>
</div>

<hr>

<app-explanation-local-iso-date-value-accessor></app-explanation-local-iso-date-value-accessor>


<div class="good">
  <h2>LocalIsoDateValueAccessor</h2>

  <form>
    <label>Version:</label>
    <input type="text" name="version" [(ngModel)]="demoLocalIsoDateValue.version">

    <label>Release date:</label>
    <input type="date" name="releaseDate" [(ngModel)]="demoLocalIsoDateValue.releaseDate" [disabled]="demoLocalIsoDateValueDisabled" useValueAsLocalIso>
  </form>

  <button (click)="demoLocalIsoDateValueDisabled = !demoLocalIsoDateValueDisabled">Toggle disabled state</button>

  <pre>
&lt;input type=&quot;text&quot;
       name=&quot;version&quot;
       [(ngModel)]=&quot;demoLocalIsoDateValue.version&quot;&gt;

&lt;input type=&quot;date&quot;
       name=&quot;releaseDate&quot;
       [(ngModel)]=&quot;demoLocalIsoDateValue.releaseDate&quot;
       <b>useValueAsLocalIso</b>&gt;
</pre>

<pre>
DEBUG:
{{ demoLocalIsoDateValue | json }}
typeof(releaseDate): {{ typeof(demoLocalIsoDateValue.releaseDate) }}
</pre>
</div>

<hr>

<div class="bad" *ngIf="!isSafari">
  <h2>DefaultValueAccessor<br><small>(does not work)</small></h2>

  <form>
    <label>Version:</label>
    <input type="text" name="version" [(ngModel)]="demoIsoDefault.version">

    <label>Release date:</label>
    <input type="date" name="releaseDate" [(ngModel)]="demoIsoDefault.releaseDate" [disabled]="demoIsoDefaultDisabled">
  </form>

  <button (click)="demoIsoDefaultDisabled = !demoIsoDefaultDisabled">Toggle disabled state</button>

<pre>
&lt;input type=&quot;text&quot;
  name=&quot;version&quot;
  [(ngModel)]=&quot;demoIsoDefault.version&quot;&gt;

&lt;input type=&quot;date&quot;
  name=&quot;releaseDate&quot;
  [(ngModel)]=&quot;demoIsoDefault.releaseDate&quot;&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoDefault | json }}
typeof(releaseDate): {{ typeof(demoIsoDefault.releaseDate) }}
</pre>
</div>

<div class="bad" *ngIf="isSafari">
  Sorry, we disabled the demo of Angular's original DefaultValueAccessor <strong>on Safari</strong> because it causes an error at runtime.
</div>
