<h1>Template-Driven Forms</h1>

<app-explanation-date-value-accessor></app-explanation-date-value-accessor>

<div class="good">
  <h2>DateValueAccessor</h2>

  <form>
    <label>Version:</label>     <input type="text" name="version" [(ngModel)]="demoIsoDateValue.version">
    <label>Release date:</label> <input type="date" name="releaseDate" [(ngModel)]="demoIsoDateValue.releaseDate" useValueAsDate>
  </form>

<pre>
&lt;input type=&quot;text&quot;
       name=&quot;version&quot;
       [(ngModel)]=&quot;demoIsoDateValue.version&quot;&gt;

&lt;input type=&quot;date&quot;
       name=&quot;releaseDate&quot;
       [(ngModel)]=&quot;demoIsoDateValue.releaseDate&quot;
       <b>useValueAsDate</b>&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoDateValue | json }}
typeof(releaseDate): {{ typeof(demoIsoDateValue.releaseDate) }}
</pre>
</div>

<hr>

<app-explanation-local-date-value-accessor></app-explanation-local-date-value-accessor>

<div class="good">
  <h2>LocalDateValueAccessor</h2>

  <form>
    <label>Version:</label>     <input type="text" name="version" [(ngModel)]="demoIsoLocalDateValue.version">
    <label>Release date:</label> <input type="date" name="releaseDate" [(ngModel)]="demoIsoLocalDateValue.releaseDate" useValueAsLocalDate>
  </form>

  <pre>
&lt;input type=&quot;text&quot;
       name=&quot;version&quot;
       [(ngModel)]=&quot;demoIsoLocalDateValue.version&quot;&gt;

&lt;input type=&quot;date&quot;
       name=&quot;releaseDate&quot;
       [(ngModel)]=&quot;demoIsoLocalDateValue.releaseDate&quot;
       <b>useValueAsLocalDate</b>&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoLocalDateValue | json }}
typeof(releaseDate): {{ typeof(demoIsoLocalDateValue.releaseDate) }}
</pre>
</div>

<hr>

<app-explanation-default-value-accessor></app-explanation-default-value-accessor>

<div class="bad">
  <h2>DefaultValueAccessor<br><small>(does not work)</small></h2>

  <form>
    <label>Version:</label>     <input type="text" name="version" [(ngModel)]="demoIsoDefault.version">
    <label>Release date:</label> <input type="date" name="releaseDate" [(ngModel)]="demoIsoDefault.releaseDate">
  </form>

<pre>
&lt;input type=&quot;text&quot;
  name=&quot;version&quot;
  [(ngModel)]=&quot;demoIsoDefault.version&quot;&gt;

&lt;input type=&quot;date&quot;
  name=&quot;releaseDate&quot;
  [(ngModel)]=&quot;demoIsoDefault.releaseDate&quot;&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoDefault | json }}
typeof(releaseDate): {{ typeof(demoIsoDefault.releaseDate) }}
</pre>
</div>

