<h1>Reactive Forms</h1>

<div class="good">
  <h2>DateValueAccessor</h2>

  <form [formGroup]="myFormDateValue">
    <label>Version:</label>     <input type="text" formControlName="version">
    <label>Release date:</label> <input type="date" formControlName="releaseDate" useValueAsISO>
  </form>

<pre>
&lt;input type=&quot;text&quot;
  formControlName=&quot;version&quot;&gt;

&lt;input type=&quot;date&quot;
  formControlName=&quot;releaseDate&quot;
  <b>useValueAsDate</b>&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoDateValue | json }}
typeof(releaseDate): {{ typeof(demoIsoDateValue.releaseDate) }}
</pre>
</div>

<hr>

<div class="good">
  <h2>LocalDateValueAccessor</h2>

  <form [formGroup]="myFormLocalDateValue">
    <label>Version:</label>     <input type="text" formControlName="version">
    <label>Release date:</label> <input type="date" formControlName="releaseDate" useValueAsISO>
  </form>

  <pre>
&lt;input type=&quot;text&quot;
  formControlName=&quot;version&quot;&gt;

&lt;input type=&quot;date&quot;
  formControlName=&quot;releaseDate&quot;
  <b>useValueAsLocalDate</b>&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoLocalDateValue | json }}
typeof(releaseDate): {{ typeof(demoIsoLocalDateValue.releaseDate) }}
</pre>
</div>

<hr>

<app-explanation-default-value-accessor></app-explanation-default-value-accessor>

<div class="bad">
  <h2>DefaultValueAccessor<br><small>(does not work)</small></h2>

  <form [formGroup]="myFormDefault">
    <label>Version:</label>     <input type="text" formControlName="version">
    <label>Release date:</label> <input type="date" formControlName="releaseDate">
  </form>

<pre>
&lt;input type=&quot;text&quot;
  formControlName=&quot;version&quot;&gt;

&lt;input type=&quot;date&quot;
  formControlName=&quot;releaseDate&quot;&gt;
</pre>

<pre>
DEBUG:
{{ demoIsoDefault | json }}
typeof(releaseDate): {{ typeof(demoIsoDefault.releaseDate) }}
</pre>
</div>
