<h1>Reactive Forms</h1>

<div class="good">
  <h2>DateValueAccessor</h2>

  <form [formGroup]="myForm1">
    <label>Version:</label>     <input type="text" formControlName="version">
    <label>Relase date:</label> <input type="date" formControlName="releaseDate" useValueAsDate>
  </form>

<pre>
&lt;input type=&quot;text&quot;
  formControlName=&quot;version&quot;&gt;

&lt;input type=&quot;date&quot;
  formControlName=&quot;releaseDate&quot;
  <b>useValueAsDate</b>&gt;
</pre>

<pre>
DEBUG:
{{ release1 | json }}
</pre>
</div>

<hr>

<div class="good">
  <h2>LocalDateValueAccessor</h2>

  <form [formGroup]="myForm3">
    <label>Version:</label>     <input type="text" formControlName="version">
    <label>Relase date:</label> <input type="date" formControlName="releaseDate" useValueAsLocalDate>
  </form>

  <pre>
&lt;input type=&quot;text&quot;
  formControlName=&quot;version&quot;&gt;

&lt;input type=&quot;date&quot;
  formControlName=&quot;releaseDate&quot;
  <b>useValueAsLocalDate</b>&gt;
</pre>

<pre>
DEBUG:
{{ release3 | json }}
</pre>
</div>

<hr>

<div class="bad">
  <h2>DefaultValueAccessor<br><small>(does not work)</small></h2>

  <form [formGroup]="myForm2">
    <label>Version:</label>     <input type="text" formControlName="version">
    <label>Relase date:</label> <input type="date" formControlName="releaseDate">
  </form>

<pre>
&lt;input type=&quot;text&quot;
  formControlName=&quot;version&quot;&gt;

&lt;input type=&quot;date&quot;
  formControlName=&quot;releaseDate&quot;&gt;
</pre>

<pre>
DEBUG:
{{ release2 | json }}
</pre>
</div>
