body {
 font-family: Helvetica, Arial, sans-serif;
}

svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

label {
  float: left;
  width: 200px;
}

input {
  display: block;
  margin: 5px;
  width: 200px;
}

app-root {
  margin-left: 120px;
  display:block;
}

pre {
  background-color: #f7f7f7;
  width: 380px;
  padding: 12px;
}

app-template-driven-form {
  float: left;
  width: 500px;
}

app-reactive-form {
  float: left;
  width: 500px;
}

h1 {
  margin-left: 20px;
}

.good,
.bad {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 15px 10px 25px;
  margin: 20px;
  height: 300px;
}

.good {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.bad {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
